@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}


.main{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    min-height: 100svh;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcaad7;
    width: 50%;
}

.loginSign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.page{
    position: relative;
    /* transform: translate(-50%); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 100%;
    width: fit-content;
    overflow-x: hidden;
    padding-bottom: 20px;
}

#login{
   display: flex;
}


h1{
    margin-bottom: 10px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: fit-content;
    text-align: start;
    margin-bottom: 8px;
    padding: 0 25px;
    font-weight: lighter;

    span{
        font-size: 12px;
    }
}
input{
    all: unset;
    padding: 10px 5px;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0px 1px 1px 2px
                rgba(0, 0, 0, 0.088);
    transition: border .3s ease-in-out;
    cursor: text;
    width: 280px;
}

input:focus{
    border-color: #fcaad7;
}

input::placeholder{
    font-size: .8rem;
}

.password{
    color: #FF4DA6;
    align-self: self-end;
    font-size: 14px;
    margin-bottom: 7px;
    margin-right: 20px;
    cursor: pointer;
}

.hr{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    width: 300px;
    padding: 0px 25px;

    hr{
        width: 45%;
    }
}
.signbtn{
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    background-color: #FF4DA6;
    cursor: pointer;
    color: white;

    a{
        text-decoration: none;
        width: 100%;
        color: white;
    }
 }

 .signbtn:hover{
    background-color: #fcaad7;
 }

 .social_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    padding: 0px 25px;
     button{
        width: 100%;
        outline: none;
        border: 1px solid gray;
        border-radius: 20px;
        padding: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
     }
     button:hover{
        background-color: rgb(65, 64, 64);
        color: white;
     }
     .facebook{
        background-color: #455A90;
        border: none;
        color: white;
        
     }
     .facebook:hover{
        background-color: #394666;
     }
     p{
        font-size: 14px;
        a{
            color: #FF4DA6;
            cursor: pointer;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
     }
 }
 #forgot1{
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 400px;

    label{
        padding: 0px;
        font-weight: lighter;
    }

    .back{
        position: absolute;
        top: 0;
        outline: none;
        border: none;
        border-radius: 20px;
        padding: 15px;
        color: white;
        background-color: #fcaad7;
        align-self: flex-start;
        a{
         color: white;
         text-decoration: none;
         width: 100%;
         cursor: pointer;
        }
    }
    

    p{
        font-weight: 500;

    }
 }

 #otp_page{
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 400px;
    input{
        all: unset;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #FF4DA6;
        border-spacing: 10px;
        letter-spacing: 3px;
        width: 80px;
        font-size: 26px;
        cursor: text;
    }

    .back{
        position: absolute;
        top: 0;
        outline: none;
        border: none;
        border-radius: 20px;
        padding: 15px;
        background-color: #fcaad7;
        align-self: flex-start;
        cursor: pointer;
        a{
         color: white;
         text-decoration: none;
         width: 100%;
        }
    }
 }

 .message {
        margin-top: 20px;
        padding: 12px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        align-self: center;
        padding: 0px 25px;
      }
      .message.success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      }
      .message.error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
      }

 @media (max-width: 767px) {
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo{
        background-color: white;
         width: 300px;
         justify-content: start;
         padding-top: 20px;
         
        img{
            width: 40px;
        }
    }
    .loginSign{
        width: 100%;

        .page{
            width: 300px;
            
        }
    }
    
 }

